extends layout

block content
  if user
    include userIndex 
  else
    #color-bar
    #land
      #hero-img
      .cta.text-center
        h1.title.upper
          a(href="/", title="Stark Lines") Stark Lines
        h3.tagline All the traffic from all your sites, in real time.
        a.link.authorize-button(title="Get started") Start Watching Your Sites
        if false
          br
          a.sign-in(href="/sign-in", title="Sign In") Sign In
      .readons 
        .pure-g-r.reason
          .pure-u-1.illustration.pure-hidden-desktop.pure-hidden-tablet.level-up
            span.icon-bolt
            span.icon-plus3
            span.icon-bars
          .pure-u-7-12.words.left
            h3.reason-title.upper.level-reason All Your Live Visitors Together
            p.reason-text Google Analytics will not let you see all of your live visitors, across multiple sites, together. Stark Lines updates constantly, in real time, to combine all your data at once.
              br
              br
              | Stark Lines will let you line up all your sites in one coherent, actionable and beautiful graph. Add up to 30 sites at once to see visitor counts, popular pages and more presented intelligently.
          .pure-u-5-12.illustration.pure-hidden-phone.level-up
            span.icon-bolt
            span.icon-plus3
            span.icon-bars
          .pure-u-1.illustration.pure-hidden-desktop.pure-hidden-tablet.secure 
            span.icon-lock
            span.icon-plus3
            span.icon-key
          .pure-u-5-12.illustration.pure-hidden-phone.secure 
            span.icon-lock
            span.icon-plus3
            span.icon-key
          .pure-u-7-12.words.right
            h3.reason-title.upper Rest Easy: Your Data Is Secure
            p.reason-text Your data will not be stored anywhere on our servers. No registration is necessary, as Stark Lines runs entirely in your browser. (<a href="http://www.bckmn.com/blog/stark-lines" target="_blank">You can read about it here</a>.)
              br
              br
              | You can even download your site groups as configuratoin files to use later with our simple drag-and-drop interface. Your visitor data never leaves your browser until you download it.
      .cta.flex-h.text-center
        h3.tagline Combine the live traffic from your sites
        a.link.authorize-button(title="Get started") Start Watching Your Sites
    #sea
      .pure-g-r
        .pure-u-1
          #controls
            button#reload-button.invisible(title="Add Another Profile")
          #options
          #counters.text-center.pure-g-r
      #graph1.aGraph
      #social-links.text-center
        p This graph is scaled to be 10 minutes wide, refreshing itself every 10 seconds to display your latest active visitor counts.
        a#download-button
          span.icon-download(style="margin-right:0.5em;")
          | Download Configuration
    .copy.text-center.pure-g-r
      .pure-u-1-2
        form#contact-form(method="POST", action="http://forms.brace.io/jsh@bckmn.com", title="Contact Stark Lines", name="Contact Stark Lines")
          h5 Contact Us
          label(for="name") My name is  
            input(type="text", name="name", placeholder="Jane Smith", required)
          label(for="_replyto") , I can be reached at  
            input(type="text", name="_replyto", placeholder="jane@smith.com", required)
          label(for="message") , and I'd just like to suggest/say that   
            input(type="text", name="message", placeholder="I wish Stark Lines could make pigs fly", required)
          | .
          input(type="submit", value="Send Message")
      .pure-u-1-2
        p &copy; 2014 All Rights Reserved. Stark Lines | 
          a(href="http://bckmn.com") jbckmn
    #divvy.tooltip

