body {
  font-size: 15px ;
  line-height: 1.4em;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 400;
  background: white;
  color: #2e393c;
}
body *{
  box-sizing:border-box;
  font-family: 'Lato', Helvetica, sans-serif;
}
h1, h2, h3, h4, h5{
  font-weight: 100;
}
a {
  color: #24B1E0 ;
  text-decoration: none;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
a:hover{
  border-bottom: 1px solid #24B1E0;
  cursor: pointer;
}
.muted{
  opacity: 0.5;
}
.em{
  font-style: italic;
}
.upper{
  text-transform: uppercase;
}
.thin{
  font-weight: 100;
}
.invisible{
  visibility: hidden;
}
.visible{
  visibility: visible;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: right;
}
.no-dot-list{
  list-style: none;
}
.container{
  max-width: 1200px;
  margin:0 auto;
}
.pure-textarea{
  width: 178px;
  height: 75px;
}
.tooltip{
  opacity: 0;
}
#graph1{
  width: 100%; 
  height: 100%;
}

#messages{
  position: fixed;
  background-color:rgba(0,0,0,0.5);
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 100;
  text-align: center;
  padding-top: 20vh;
}
#messages .wrapper{
  background-color:#eee;
  display: inline-block;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
}
#messages .message{
  color: #ADCD2D;
}
#messages .error{
  color: #CF381C;
}
.dismiss-alert{
  color: #aaa;
  font-size:1.5em;
  vertical-align: middle;
  margin-right: 1em;
}
.dismiss-alert:hover{
  border: none;
  color: #24B1E0;
}

#land{}
#color-bar{
  height: 4px;
  background: #24B1E0;
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
#hero-img{
  height: 350px;
  display: block;
/*  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#fff, #24B1E0);
  background-image: -moz-linear-gradient(#fff, #24B1E0);
  background-image: -webkit-linear-gradient(#fff, #24B1E0);
  background-image: -o-linear-gradient(#fff, #24B1E0);
  background-image: -ms-linear-gradient(#fff, #24B1E0);*/
}
#land .cta{
  height: 345px;
  display: block;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
#land .cta.flex-h{
  height: auto;
  padding-bottom: 10em;
}
#land .cta .title{
  font-size: 3em;
  margin:1.5em 0 1.2em;
}
#land .cta .tagline{
  font-size: 1.4em;
  color: #aaa;
  font-weight: 400;
  /*background: -webkit-linear-gradient(#F80F40, #24B1E0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
#land .cta .link, .link-button{
  display: inline-block;
  color: white;
  background-color: #24B1E0;
  font-size: 1.1em;
  padding: 1em 2em;
  margin: 0 0 1em;
  border-radius: 3px;
  transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;-o-transition: 1s;
}
#land .cta .link:hover, .link-button:hover{
  background-color: #45CB46;
  border: none;
}
#land .cta .sign-in{
  display: inline-block;
}
#land .readons {
  max-width: 895px;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}
#land .reason{
  margin-bottom: 4em;
}
#land .reason:last-child{
  margin-bottom: 6em;
}
#land .reason .illustration{
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 5em;
  padding: 120px 0;
}
#land .reason .illustration span:nth-child(2){
  color: #aaa;
}
#land .reason .illustration.level-up{
  color: #F80F40;
}
#land .reason .illustration.secure{
  color: #24B1E0; 
}
#land .reason .reason-title.level-reason{
  color: #F80F40;
}
#land .reason .illustration img{
  border-radius: 200px;
}
#land .reason .words{
  padding-top: 5em;
}
#land .reason .words.left{
  padding-right: 10%;
}
#land .reason .words.right{
  padding-left: 10%;
}
#land .reason .reason-title{
  font-size: 1.4em;
  color: #24B1E0;
  margin: 1.3em 0;
  font-weight: 400;
}
#land .reason .reason-text{
  font-size: 1em;
  color: #9aa1a6;
  font-weight: 400;
  margin: 1.3em 0;
}
#land .copy{
  border-top: 1px solid #ececec;
  color: grey;
  font-size: 0.8em;
  padding: 2em 0;
}

#sea{
  display: none;
}
.prompt-header{
  text-align: center;
}
.appending-list, .appending-p{
  margin: 0 auto;
  display: block;
  padding: 0;
  max-width: 400px;
  text-align: center;
}
.appending-p{
  color: #999;
  max-width: 500px;
}

#reload-button{
  background-color: #F80F40;
  border: none;
  display: inline-block;
  color: white;
  font-size: 0.9em;
  padding: 0.6em 1em 0.4em;
  margin: 0 0 1em;
  border-radius: 3px;
  opacity: 0.75;
  transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;-o-transition: 1s;
}
#reload-button:hover{
  opacity: 1;
}
#social-links{
  color: #aaa;
  display: none;
}
#graph1{
  display: none;
  min-height: 350px;
  width: 100%;
}
#counters a {
  color: black;
}
#counters a:hover {
  color: grey;
}
.live-counter {
  font-size: 2.7em;
  line-height: 1.2em;
  color: #fefefe;
  margin:0 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
.live-top {
  opacity: 0.8;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
.live-top:hover {
  opacity: 1;
}
.live-name {
  margin: 0.2em 0;
}
.close-profile{
  float:right;
  display:none;
  cursor:pointer;
  color: #F80F40;
}
.profile-wrap:hover .close-profile{
  display: inline;
}
div.tooltip {
  position: absolute;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  background: #fff;
  border: 0px;
  pointer-events: none;
}
#counters{
}
.borders{
  margin:10px 5px 0px 5px;
}
ul{
  list-style: none;
  padding-left: 0;
  margin-left: -2em;
}
p{
  font-size: 1.2em;
}
#options{
  margin-left: 5em;
  margin-right: 5em;
}

@media only screen and (max-width :949px){
  
}
@media only screen and (max-width :767px){
  
}
@media only screen and (max-width :749px){
  #land .reason .words{
    padding: 0 5% !important;
  }
}